[submodule "sticky-tile-release"]
	path = sticky-tile-release
	url = git@github.com:StickySource/sticky-tile-release.git
[submodule "sticky-tile-upload-nexus"]
	path = sticky-tile-upload-nexus
	url = git@github.com:StickySource/sticky-tile-upload-nexus.git
[submodule "sticky-tile-parent-jar"]
	path = sticky-tile-parent-jar
	url = git@github.com:StickySource/sticky-tile-parent-jar.git
[submodule "sticky-tile-parent-tile"]
	path = sticky-tile-parent-tile
	url = git@github.com:StickySource/sticky-tile-parent-tile.git
[submodule "sticky-tile-testing"]
	path = sticky-tile-testing
	url = git@github.com:StickySource/sticky-tile-testing.git
[submodule "sticky-tile-parent-api"]
	path = sticky-tile-parent-api
	url = git@github.com:StickySource/sticky-tile-parent-api.git
[submodule "sticky-tile-apicheck"]
	path = sticky-tile-apicheck
	url = git@github.com:StickySource/sticky-tile-apicheck.git
[submodule "sticky-tile-contributors"]
	path = sticky-tile-contributors
	url = git@github.com:StickySource/sticky-tile-contributors.git
[submodule "sticky-tile-manifest"]
	path = sticky-tile-manifest
	url = git@github.com:StickySource/sticky-tile-manifest.git
